.notifyItem {
  position: fixed;
  top: 1rem;
  right: 1rem;
  width: 400px;
  padding: 20px;
  box-shadow: 1px 1px 1px 1px black;

  &:global(.success) {
    background: green;
  }
  &:global(.error) {
    background: red;
  }
}

.notifyEnter {
  opacity: 0;
}

.notifyEnterActive {
  opacity: 1;
  transition: 0.5s all ease-in;
}

.notifyExit {
  opacity: 1;
}

.notifyExitActive {
  opacity: 0;
  transition: 0.5s all ease-in;
}
