.sidebar {
  height: 100vh;
  position: relative;
  user-select: none;
}

.sidebarContent:global(.sidebar-content-hidden_true) {
  overflow: hidden;
  width: 0;
}

.resizer {
  cursor: ew-resize;
  height: 100%;
  z-index: 0;
  position: absolute;
  transform: translateX(-100%);
  border-right: 5px solid aqua;
  top: 0;
  left: 0;
  transition: 0.3s border-right-color 0.05s ease-in;

  &:global(.resizer-fullwidth) {
    width: 100vw;
  }

  &:hover {
    border-right-color: black;
  }
}
