<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta id="meta-description" name="description" content="__META_DESCRIPTION__" />
    <meta id="og-title" property="og:title" content="__META_OG_TITLE__" />
    <meta id="og-image" property="og:image" content="__META_OG_IMAGE__" />
    <link rel="icon" type="image/ico" href="./favicon.ico"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    <%if(locals.css) {%>
    <%locals.css.forEach(style => {%>
    <link rel="stylesheet" href=<%=style%>>
    <%})%>
    <%}%>
    <title>__META_TITLE__</title>
</head>
<body>
<div id="notify-portal"></div>
<div id="app"></div>


<script type="text/javascript">
  window._GLOBALS_ =
  <% if (!!locals.globals) { %>
  <%- JSON.stringify(locals.globals) %>
  <% } %>
</script>
<%if(locals.js) {%>
<%locals.js.forEach(script => {%>
<script type="text/javascript" src=<%=script%> ></script>
<%})%>
<%}%>
</body>
</html>